.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  background-image: url('@/assets/images/bg.png');
  background-size: 100%;

  .login-form {
    position: absolute;
    top: 238px;
    left: 1237px;
  }
}